<body>
  <a href="/welcome"><h3>Home</h3></a>
    {{#each result}}

 <h1 class="title-pen"> Player Profile  Of <span>{{this.name}}</span></h1>
<div class="user-profile">
	<img class="avatar" alt="Embedded Image" src="data:image/jpg;base64,{{this.image}}">
    <div class="username">{{this.name}}</div>
  <div class="bio">
  	<h3>{{this.Reg}}</h3>
  </div>
  <div class="description">
        <h4> Use to play as - <span class="position">{{this.position}}</span> </h4>
  </div>
  <ul class="data">
    <li>
        <h2>AGE : <span>{{this.age}}</span></h2>
    </li>
    <li>
        <h2>JERSEY : <span>{{this.jersey}}</span></h2>

    </li>
    <li>
        <h2>Session : <span>{{this.session}}</span></h2>

    </li>
 </ul>
</div>

  <footer>
    <h1>Depertment of <span>{{this.Department}}</span></h1>
  </footer>
  {{/each}}
</body>
